.home-screen {
  padding: 20px 40px;
}
.home-screen h2 {
  margin-bottom: 20px;
  text-align: center;
  color: $dark-blue;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}
.home-screen p {
  font-size: 18px;
  margin: 5px;
  opacity: .7;
  color: rgba(48, 69, 92, 0.8);
  line-height: 26px;
  letter-spacing: 1px;
}
.space-block {
  height: 50px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

// .home-click-down {
//   margin-bottom: 40px;
//   border-radius: 50%;
//   width: 100px;
//   height: 100px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   img {
//     width: 36%;
//     height: auto;
//   }
// }

.mouse {
  display: block;
  width: 28px;
  height: 48px;
  border-radius: 11px 11px 15px 15px;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  z-index: 9999;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
