<footer class="footer-area" id="footer">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <div class="logo-footer">
          <%= link_to "#" do %>
            <%= image_tag "https://res.cloudinary.com/juandev/image/upload/v1557142867/choriLogo.jpg", class: "avatar-bordered" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a href="#!">About</a></p>
        <p><a href="#!">How is made?</a></p>
        <p><a href="#!">FAQs</a></p>
        <p><a href="#!">Order</a></p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fas fa-home mr-3"></i>France, PAR 75000, FR</p>
        <p><i class="fas fa-envelope mr-3"></i>hi@elmandeloschorizos.com</p>
        <p><i class="fas fa-phone mr-3"></i>+ 33 0615 590 799</p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Follow us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a href="https://www.facebook.com/elmandeloschorizos/" target="_blank" class="s-icon"><i class="fab fa-facebook-f"></i></a></p>
        <p><a href="https://www.instagram.com/el_man_de_los_chorizos/" target="_blank" class="s-icon"><i class="fab fa-instagram"></i></a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">El Man De Los Chorizos© 2019. All rights reserved. created by<a href="https://mdbootstrap.com/education/bootstrap/"> JuanDev</a>
  </div>
</footer>
