<footer class="footer-area" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 links">
        <div class="logo-footer">
          <%= link_to root_path do %>
            <%= image_tag "https://res.cloudinary.com/juandev/image/upload/v1557142867/choriLogo.jpg", class: "avatar-bordered" %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 links">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <p><%= link_to "ABOUT", about_path %></p>
        <p><%= link_to "HOW IS MADE?", how_path %></p>
        <p><a href="#!">FAQs</a></p>
        <p><a href="#!">ORDER</a></p>
      </div>
      <div class="col-12 col-sm-6 col-md-5 links">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p><i class="fas fa-home mr-3"></i>France, PAR 75000, FR</p>
        <p><i class="fas fa-envelope mr-3"></i>hi@elmandeloschorizos.com</p>
        <p><i class="fas fa-phone mr-3"></i>+ 33 0615 590 799</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 links">
        <h6 class="text-uppercase font-weight-bold">Follow us</h6>
        <p><a href="https://www.facebook.com/elmandeloschorizos/" target="_blank" class="s-icon"><i class="fab fa-facebook-f"></i></a></p>
        <p><a href="https://wwwinstagram.com/el_man_de_los_chorizos/" target="_blank" class="s-icon"><i class="fab fa-instagram"></i></a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">El Man De Los Chorizos© 2019. All rights reserved. created by<a href="https://www.linkedin.com/in/juancarbe" target="_blank"> JuanDev</a>
  </div>
</footer>
