<div class="home-first-scroll" id="top">
  <div class="banner">
    <div class="banner-container">
      <h1><strong>El Man De Los Chorizos</strong></h1>
      <p>Chorizos artesanales en Paris 🇫🇷</p>

      <div class="banner-mouse center-items">
        <a href="#screen-2" class="js-animate-to"><div class="mouse"><span></span></div></a>
      </div>

    </div>
  </div>
</div>
<div class="space-block"></div>
<div class="home-screen" id="screen-2">
  <div class="container">
    <h2>WHAT IS EL MAN DE LOS CHORIZOS ABOUT?</h2>
    <p>Buenas!! my name is Juan and I sell chorizos. It began on February 2018 where I took the desicion to come to Paris to take a risk and look for new oppportunities. My bussines plan is pretty easy: I will sell as much Chorizos as I can, to cover no just the colombian demand also to make sure everyone know the Colombian chorizo around France!<br><br>As I said above, and If you want to support a Colombian entrepreneur I offer to you a package of 5 Chorizos just for 10 Euros (Delivery is free!). But please, don't make me ride too far!</p>
    <div class="space-block"></div>
    <div class="cards">
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557314826/choriDelivery.jpg)">
      </div>
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557314985/choriFlag.jpg)">
      </div>
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557315738/choriWine.jpg)">
      </div>
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557316124/choriMascota.jpg)">
      </div>
    </div>
  </div>
</div>

<div class="home-screen" id="screen-3">
  <div class="container">
    <h2>HOW OUR CHORIZOS ARE MADE?</h2>
    <p>Great Chorizos might be simple, but that doesn’t mean they are easy to make. Since day one, we’ve only put a Chorizo on our menu if we absolutely love it. It has to be the best Chorizo, otherwise it’s back to the drawing board. And that’s how we continue to make our Chorizos today.</p>
  <div class="space-block"></div>
    <div class="cards">
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557314826/choriEquipment.jpg)">
      </div>
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557315738/choriBreaky.jpg)">
      </div>
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557399289/choriToDo.jpg)">
      </div>
      <div class="card" style="background-image: url(https://res.cloudinary.com/juandev/image/upload/v1557315738/choriCleta.jpg)">
      </div>
    </div>
    <div class="space-block"></div>
  </div>
</div>
<div class="home-screen" id="screen-4">
  <div class="container">
    <h2>FAQS</h2>
    <div id="wrapper">
      <ul>
        <li>
          <input type="checkbox" checked><i></i>
          <h2>Is the Chorizo gluten free?</h2>
          <p>This is a short answer for your question.</p>
        </li>
        <li>
          <input type="checkbox" checked><i></i>
          <h2>Do you have a restaurant?</h2>
          <p>No at the momment</p>
        </li>
        <li>
          <input type="checkbox" checked><i></i>
          <h2>Do you have franchise?</h2>
          <p>No at the momment</p>
        </li>
        <li>
          <input type="checkbox" checked><i></i>
          <h2>Do you have job opportunities?</h2>
          <p>I would love to have job possitions available but there is not. Please feel free to send to us an expression of Interes and we will reach to you as soon as we have a position. Email: hi@elmandeloschorizos.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>
