<div class="home-first-scroll" id="top">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/juandev/image/upload/v1557239782/choriBanner.jpg)">
    <div class="banner-container">
      <h1><strong>El Man De Los Chorizos</strong></h1>
      <p>Chorizos artesanales en Paris 🇫🇷</p>
      <div class="banner-mouse center-items">
        <a href="#screen-2" class="js-animate-to"><div class="mouse"><span></span></div></a>
      </div>
    </div>
  </div>
</div>
<div class="space-block"></div>
<div class="home-screen" id="screen-2">
  <div class="container">
    <h2>WHAT IS EL MAN DE LOS CHORIZOS ABOUT?</h2>
    <p>Buenas!! my name is Juan and I sell chorizos. It began on February 2018 where I took the desicion to come to Paris to take a risk and look for new oppportunities. My bussines plan is pretty easy: I will sell as much Chorizos as I can, to cover no just the colombian demand also to make sure everyone know the Colombian chorizo around France!<br><br>As I said above, and If you want to support a Colombian entrepreneur I offer to you a package of 5 Chorizos just for 10 Euros (Delivery is free!). But please, don't make me ride too far!</p>
    <div class="space-block"></div>
  </div>
    <div class="cards">
      <div class="card img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557314826/choriDelivery.jpg)">
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557314985/choriFlag.jpg)">
        <%= link_to "ABOUT", about_path %>
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557314826/choriEquipment.jpg)">
        <%= link_to "HOW IS MADE", how_path %>
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557315738/choriCleta.jpg)">
        <a href="https://web.whatsapp.com/send?phone=330615590799&text=Hola.%20Necesito%20chorizos%20el%20dia%20" >ORDER</a>
      </div>
    </div>
</div>
<div class="home-screen" id="screen-4">
  <div class="container">
    <h2>FAQS</h2>
    <div id="wrapper">
      <ul>
        <li>
          <input type="checkbox" checked><i></i>
          <h3>Is the Chorizo gluten free?</h3>
          <p>This is a short answer for your question.</p>
        </li>
        <li>
          <input type="checkbox" checked><i></i>
          <h3>Do you have a restaurant?</h3>
          <p>No at the momment</p>
        </li>
        <li>
          <input type="checkbox" checked><i></i>
          <h3>Do you have franchise?</h3>
          <p>No at the momment</p>
        </li>
        <li>
          <input type="checkbox" checked><i></i>
          <h3>Do you have job opportunities?</h3>
          <p>I would love to have job possitions available but there is not. Please feel free to send to us an expression of Interes and we will reach to you as soon as we have a position. Email: hi@elmandeloschorizos.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="home-screen" id="screen-5">
    <h2>#MamáEstoyTriunfando!</h2>
    <ul class="press-container">
      <a target="_blank" rel="noopener nofollow" href="https://www.rcnradio.com/internacional/el-man-que-deleita-paris-con-su-autentico-chorizo-colombiano?fbclid=IwAR1igMu50yUlXzOa1dfE66nynO9ReAbm7TfUrhiKmqPnPA02fzoo94dTFQg">
        <li class="logo-box">
          <img class="lozad press-logo" data-src="https://res.cloudinary.com/juandev/image/upload/v1558478705/Logos%20Media/logoRcnR.svg" src="https://res.cloudinary.com/juandev/image/upload/v1558478705/Logos%20Media/logoRcnR.svg" data-loaded="true">
        </li>
      </a>
      <a target="_blank" rel="noopener nofollow" href="https://www.colombian.com.co/mundo/juan-david-dejo-todo-en-colombia-y-se-fue-para-francia-donde-es-un-exitoso-vendedor-de-chorizos/?fbclid=IwAR1HclD6pAKN_Pqp0wi2bCHjL3wp_sB2ebX2RvvFkW7ZB6v6Nb8tzQb2W6g">
        <li class="logo-box">
          <img class="lozad press-logo" data-src="https://res.cloudinary.com/juandev/image/upload/v1558519101/Logos%20Media/LogoColombian.webp" src="https://res.cloudinary.com/juandev/image/upload/v1558519101/Logos%20Media/LogoColombian.webp" data-loaded="true">
        </li>
      </a>
      <a target="_blank" rel="noopener nofollow" href="http://www.wradio.com.co/noticias/sociedad/el-man-de-los-chorizos-el-hombre-que--llevo-un-alimento-tipico-colombiano-a-paris/20190502/nota/3897934.aspx?fbclid=IwAR1WlrboruJNIcs3g0wQh7N4EqzUZ-5y6fxPlLUCDkvnwgvqd0uG7lCBeMM">
        <li class="logo-box">
          <img class="lozad press-logo" data-src="https://res.cloudinary.com/juandev/image/upload/v1558519104/Logos%20Media/logoWradio.png" src="https://res.cloudinary.com/juandev/image/upload/v1558519104/Logos%20Media/logoWradio.png" data-loaded="true">
        </li>
      </a>
      <a target="_blank" rel="noopener nofollow" href="https://www.bluradio.com/mundo/el-man-de-los-chorizos-emprendimiento-colombiano-rompe-las-redes-en-francia-212626-ie435?fbclid=IwAR11fnRAjzOn0Tl_Ewhja5TRM_r4eZS9HgXjF8Oh8CUrxGcBZmPFzuYqh3g">
        <li class="logo-box">
          <img class="lozad press-logo" data-src="https://res.cloudinary.com/juandev/image/upload/v1558478705/Logos%20Media/logoBluRadio.webp" src="https://res.cloudinary.com/juandev/image/upload/v1558478705/Logos%20Media/logoBluRadio.webp" data-loaded="true">
        </li>
      </a>
      <a target="_blank" rel="noopener nofollow" href="https://soynuevaprensadigital.com/npd/el-man-de-los-chorizos-la-start-up-que-lleva-un-pedazo-de-colombia-a-paris/?fbclid=IwAR3ylNySjxR5Lpdkkvg8n2M3zoWmSkJ0iWGyMTMdoJE8AGD1G-62J1lVda4">
        <li class="logo-box">
          <img class="lozad press-logo" data-src="https://res.cloudinary.com/juandev/image/upload/v1558514885/Logos%20Media/logoNuevaPrensa.jpg" src="https://res.cloudinary.com/juandev/image/upload/v1558514885/Logos%20Media/logoNuevaPrensa.jpg" data-loaded="true">
        </li>
      </a>
      <a target="_blank" rel="noopener nofollow" href="https://listindiario.com/economia/2019/04/29/563258/video-el-man-de-los-chorizos-la-start-up-que-lleva-un-pedazo-de-colombia-a-paris?platform=hootsuite">
        <li class="logo-box">
          <img class="lozad press-logo" data-src="https://res.cloudinary.com/juandev/image/upload/v1558519102/Logos%20Media/logoListin.png" src="https://res.cloudinary.com/juandev/image/upload/v1558519102/Logos%20Media/logoListin.png" data-loaded="true">
        </li>
      </a>
    </ul>
</div>
