<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/juandev/image/upload/v1557239782/choriBanner.jpg);">
  <div class="container">
    <h1><strong>El Man De Los Chorizos Chorizos</strong></h1>
    <p>Chorizos artesanales en Paris 🇫🇷</p>
    <a class="btn btn-flat" href="#">Order now</a>
  </div>
</div>
