<div class="home-first-scroll" id="top">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/juandev/image/upload/v1557239782/choriBanner.jpg);">
    <div class="container">
      <h1><strong>El Man De Los Chorizos</strong></h1>
      <p>Chorizos artesanales en Paris 🇫🇷</p>
    </div>
  </div>
</div>

<div class="home-screen" id="screen-2">
  <div class="container">
    <h2>WHAT IS EL MAN DE LOS CHORIZOS ABOUT?</h2>
    <p>It began on February 2018 where I took the desicion to come to Paris to take a risk and look for new oppportunities. My bussines plan is pretty easy: I will sell as much Chorizos as I can, to cover no just the colombian demand also to make sure everyone know the Colombian chrizo around France!<br><br>As I said above, and If you want to support a Colombian entreprenaur I offer to you a package of 5 Chorizos just for 10 Euros (Delivery is free!). But please, don't make me ride too far!</p>
  </div>
  <!-- <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557314826/choriDelivery.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557314985/choriFlag.jpg)">
      Lunch
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557315738/choriWine.jpg)">
      Dinner
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/juandev/image/upload/v1557316124/choriMascota.jpg)">
      Dinner
    </div>
  </div> -->

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
  </div>


</div>

<div class="home-screen" id="screen-3">
  <div class="container">
    <h2>HOW OUR CHORIZOS ARE MADE?</h2>
    <p>Great Chorizos might be simple, but that doesn’t mean they are easy to make. Since day one, we’ve only put a Chorizo on our menu if we absolutely love it. It has to be the best Chorizo, otherwise it’s back to the drawing board. And that’s how we continue to make our Chorizos today.</p>
  </div>
</div>

<div class="home-screen" id="screen-4">
</div>
<!-- <footer class="footer-area footer--light text-center" id="footer">
    render shared/footer
</footer> -->


<!-- <div class="container">
  <div class="row">

    <div class="col-6">
    </div>

    <div class="col-6">
    </div>

  </div>
</div> -->
