.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-link {
  text-decoration: none;
  margin-left: 0px !important;
}
.card {
  margin-bottom: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  letter-spacing: .02em;
  line-height: 1em;
  text-transform: none;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: .012307692307692308px;
}
  .card {
  height: 41vh;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card {
  height: 80vh;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
